body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;/*100% of the view port height*/
    display: flex;
    justify-content: center; /*centering horizontally*/
    align-items: center;/*centering vertically*/
    background-color: #f0f0f0;
}
.container{
    display: flex;
    width: 800px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}
.form-section {
    background-color: #fff;
    width: 40%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.form-section::after {
    content: '';
    position: absolute;
    right: 0;/*right achoring*/
    top: 10%;
    height: 80%;
    width: 1px;
    background-color: #ccc; /* Vertical line between sections */
}
.image-section {
    background: linear-gradient(to right, #ffffff, #89bbdf); /* Gradient background */
    width: 60%; /*baki 60%*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.image-section img {
    max-width: 80%;
    max-height: 80%;
}
form {
    width: 100%;
    text-align: center;
}
h2 { /*Login*/
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #434242;
    font-size: 14px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
button{
    background-color: #6298be;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
}
button#reset {
    background-color: rgb(158, 159, 160);
}

button:hover {
    background-color: rgb(71, 108, 119);
}
button#reset:hover {
    background-color: #aaa;
}
a{
    color: rgb(78, 77, 77);
    font-size: 12px;
    text-decoration: none;/*underline gayeb*/
}
a:hover {
    text-decoration: underline;
    color: #6298be;
}
p {
    margin-top: 10px;
    color: #666;
    font-size: 12px;
}