body {
    background: linear-gradient(to right, #dbe4e5, #3d6f72);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}
form {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 650px;
}
h2 {
    scale: 1.3;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

input:focus,
select:focus {
    border-color: #007BFF;
    outline:#0056b3;
}

input[type="radio"] {
    margin-top: 5px;
}
.gender-options{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    align-items: center;
}
.gender-options label {
    margin: 0;
    }

button {
    padding: 10px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 35px;
}
button#submit {
    background: linear-gradient(to right, #2c3e50, #4ca1af); 
    color: white;
}


button#reset {
    background: linear-gradient(to right, #2c3e50, #4ca1af); 
    color: white;
}
button#cancel {
    background-color: #dc3545;
    color: white;
}

button#submit:hover {
    background: linear-gradient(to right, #4ca1af, #2c3e50);
}

button#reset:hover {
 background: linear-gradient(to right, #4ca1af, #2c3e50)}

button#cancel:hover {
    background-color: #bd2130;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #2c3e50;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
