<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
    <h2>Login</h2>

    <label for="username">Username:</label>
    <input type="text" name="username" id="username"><br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br><br>

    <p><a href="forgot_password.html">Forgot Password?</a></p>

    <button type="button" id="loginbtn" onclick="validate_login()">Login</button>
    <button type="reset" id="reset">Reset</button><br><br>

    <p>Don't have an account? <a href="/Weather-APP/view/sign_up.html">Sign up here</a></p>
</form>
<script src="/Weather-APP/js/validate_login.js"></script>
</body>
</html>