<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/saved_location.css">
</head>
<body>
    <div class="container">

        <h1>Saved Locations</h1>

        <div class="input_section">
            <input type="text" name="loc_input" id="loc_input" placeholder="Add new city!">
            <button id="add_btn" onclick="addLocation()">
                <img src="/css/icons/add_icon.png" alt="+">
            </button>
        </div>
        <ul id="loc_list">
            <!--ekhane location gula li die die add korbo-->
        </ul>
    </div>
    <script src="/js/location.js"></script>

</body>
</html>